<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium Automation Test Suite" parallel="methods"
	thread-counts="2" verbose="1">
	<test name="UI Automatiomn Test">
		<parameter name="browser" value="${browser}" />
		<parameter name="isLamdaTest" value="${isLamdaTest}" />
		<parameter name="isHeadless" value="${isHeadless}" />
		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name="com.ui.tests.InvalidLoginCredentialsTest" />
			<class name="com.ui.tests.SearchProductTest" />
			<class name="com.ui.tests.AddNewAddressTest" />
			<class name="com.ui.tests.ProductCheckoutTest" />
		</classes>
	</test>
</suite>